<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Oh noes, import error!</title>
</head>

Oh dear, it appears that something went wrong while trying to import your key.
Please make sure that you copied in your entire key (including the -----BEGIN PGP PUBLIC KEY BLOCK-----
bits).  If the problem persists, contact admin@pgpsigner.com.
