<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Public PGP Key Signer</title>
</head>

Welcome to the Public PGP Key Signer service!<br/><br/>
We perform basic validation on your identity by sending an email to the address<br/>
in your public key with a secret link.  When you click on that link we will sign<br/>
your public key and send the newly signed key to you.<br/><br/>

Before you get started you'll want to download our <a href="public_key">public key</a><br/>
All emails from the Public PGP Key Signer service are signed with the<br/>
corresponding private key, so you can use that public key to ensure that the<br/>
emails you get from us really are from us.<br/><br/>

What are you waiting for? <a href="/new">Get your key signed now!</a><br/><br/>
<i>Concerned about privacy?</i> <a href="/privacy.html">Read our privacy notice</a>

</html>
</body>
