<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Key Imported (yay!)</title>
</head>

We have succesfully imported your key and used it to send an encrypted email message to <%=@user_email%>.  This email will also be signed, you can validate that signature with our <a href="/public_service.asc">public key</a><br/><br/>

Decrypt the email and click on the enclosed link to verify your identity, and we will then sign your public key and email the newly signed key to you.
