Enter public key<br/>
Enter your public key for signing.  You can retreive this by running gpg --export --armor &lt;youremail@isp.com&gt, and then copying the output into this text box.<br/>
<form method="post">
   <textarea id="public_key" name="public_key" rows=20 cols=66></textarea><br/>
   <br/>
   <input class="button" type="submit" value="Submit Key">
</form>
