<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Key Signed (yay!)</title>
</head>

Thank you for confirming your email address.

We have signed your key and sent the newly signed key to <%=@email%>.  This email will be signed, you can validate that signature with our <a href="/public_service.asc">public key</a><br/><br/>

You can import your newly signed key by copying it into a text file and running <pre>gpg --import file</pre>
