<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Spoof sent (uh-oh!)</title>
</head>

We have sent an email to <%=@to_email%> which will say that it is from <%=@from_email%>, but it is not!  Spoofing is that simple.  There is a chance that you will not receive the email because your ISP or other email provider filtered it out.  That is a <b>Good Thing</b> as generally speaking such messages are malicious.
